{% extends 'podcast/base.html' %}
<!DOCTYPE html>
<html lang="en">

<body>
    {% block content %}
    <div class="row">
        <div class="col-md-2">
            <main>
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                    <div class="position-sticky pt-3">
                      <nav>
                        <div class="d-flex flex-column flex-shrink-1 text-black  p-2 position-sticky collapse" id="sidebar" style="width: 280px;">
                            <a href="/" class="d-flex align-items-center  mb-md-0 me-md-auto text-dark text-decoration-none">
              
                                <h4 class="fs-4 mt-3 m-2 p-2 text-center text-info">PODCAST</h4>
                            </a>
                          
                            <ul class="nav nav-pills flex-column mb-auto text-dark p-3 m-1">
                                <li class="nav-item">
                                    <a href="{% url 'home'%}" class="nav-link  text-black" aria-current="page">
                                        <i class="fa-solid fa-house"></i> Home
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'episodes' %}" class="nav-link text-black"><i class="fa-solid fa-headphones-simple"></i> Explore
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin" class="nav-link text-black"><i class="fa-solid fa-fire-flame-curved"></i> Popular</a>
                                </li>
                                <li>
                                    <a href="favorites.html" class="nav-link text-black"><i class="fa-brands fa-gratipay"></i> Favorites</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link text-black"><i class="fa-solid fa-id-card-clip"></i> profile
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    </main>
        </div>
  

        <div class="col-md-8 mt-5 m-2 p-1">
            <div class="text-justify m-2 p-1">


            </div>
            <div class="row">
                <div class="col-md-7">
                    <img src="{{episode.thumbnail.url}}" alt="" style="height:350px; width:500px; border-radius: 20px; ">
                </div>
                <div class="col-md-5 mt-5 ">
                    <h5>{{episode.title}}</h5>
                    <p>{{ episode.desc}}</p>
                    <div class=" m-2 p-3">
                        <audio src="C:\Users\Hp\Music\Avicii - Levels" controls></audio>
                    </div>
                    <div>
                        <a href="profile.html" class="btn btn-dark"><i class="fa-brands fa-gratipay"></i> Add to favorites</a>
                        <a href="" class="btn btn-outline-dark ml-2"><i class="fa-solid fa-share-from-square"></i> Share</a>
                    </div>
                    <div class="p-2 m-2 row">
                        <div class="col-md-4"><h5>Rated:</h5></div>
                        <div class="col-md-4" style="margin-left: -25px;"> {{average_ratings.rate__avg|floatformat}}/5  <i class="fa-solid fa-star text-warning"></i></div>
                        <div class="col-md-2"></div>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row m-3 p-3 comments">
            </div>
          
            <div class="accordion mb-5 m-2 p-1" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <div class=" panel panel-default" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <div class="row">
                        <div class="col-md-10 ml-5">
                            <h5  data-toggle="tooltip" data-placement="bottom" title="click to open & close comments."><i class="fa fa-comments"  aria-hidden="true"></i> COMMENTS</h5>
      
                        </div>
                          <div class="col-md-2 col col-sm-1">
                              
                          </div>
                      </div>
                       
                  </div>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body row">
                        <div class=" bg-white col-md-10 shadow-lg rounded jumbotron p-2 container-fluid feedback ">
                            <h5 class="text-center m-3 p-2"> Feedback about <a class="text-teal" style="color: teal; text-decoration: none;" href="">{{episode.title}}</a></h5>
                            <a href=" {% url 'rate' episode.id%}" class="btn btn-info p-2 m-2 text-center" data-toggle="tooltip" data-placement="top" title="leave your comments & rating.">
                                Leave feedback
                            </a>
                            <div class="p-2 m-2">
                                <p>Rated: {{average_ratings.rate__avg|floatformat}}/5</p>
                                <p>{{total_ratings}} Reviews</p>
                            </div>
                            {% for rating in episode.rating.all reversed%}
                            <div class="row ml-2">
                                <div class="container m-2 ml-3 p-2   col-md-8 mr-2 rounded bg-light shadow text-dark">
                                    <p>
                                        <span>
                                     <img class="rounded-circle profile-pic " style="width: 30px;height:30px;" src="{{ rating.user.profile.image.url}} " alt=" ">
                                 </span>
                                        <span class=font-weight-bold>
                                 {{rating.user}} </span>
                                        <span class="ml-5"><i class="fa fa-comments" aria-hidden="true"></i>
                                        </span>
                                        <div class=" container text-justify ">
                                            {{rating.comment|title}} <br>Rated : {{rating.rate}}/5  <i class="fa-solid fa-star text-warning"></i>
                                        </div>
                                    </p>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                            {% empty%}
                            <div class="text-center m-2 p-2">
                                <p>No ratings for this Mover's page Yet !!!.</p>
                    
                            </div>
                            {% endfor%}
                        </div>
                        <div class="col-md-3"></div>
                       
                    </div>
                  </div>
                </div>
                
              </div>
            <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="card mt-5 mt-5 m-3 p-2 alert alert-danger" style="margin-top:300px;" id="delete">
            <p>Are you sure you want to delete this comment ??..</p>
            
        </div>
      <div class="modal-footer">
        <div class="buttons">
            <form action="">
                <a href="index.html" class="btn btn-danger"> Yes, I'm sure</a>
                <a href="episode.html" class="btn  btn-dark">Cancel</a>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
            
           
        </div>
    </div>
    </div>
   {% endblock content%}
</body>

</html>