{% extends 'podcast/base.html' %}{% load social_share %}
<!DOCTYPE html>
<html lang="en">

<body>
    {% block content %}
    <div class="row">
        <div class="col-md-2">
            {% include 'podcast/sidebar.html' %}
        </div>
  

        <div class="col-md-8 mt-5 m-2 p-1">
            <div class="text-justify m-2 p-1">


            </div>
            <div class="row">
                <div class="col-md-7">
                    <img src="{{episode.thumbnail.url}}" alt="" style="height:350px; width:500px; border-radius: 20px; ">
                </div>
                <div class="col-md-5 mt-5 ">
                    <h5>{{episode.title}}</h5>
                    <p>{{ episode.desc}}</p>
                    <div class=" m-2 p-4  audio" style="width: 350px; background-color:teal; border-top-left-radius: 20px; border-bottom-right-radius: 20px;">
                        <audio controls src="{{episode.audio.url}}" ></audio>
                    </div>
                    <div>
                        {% if fav %}
            <a href="{% url 'favorites'%}" class="btn btn-danger"><i class="fa-solid fa-xmark"></i> Remove from favs</a> {% else %}
            <a href="{% url 'addtofavorites' episode.id %}" class="btn btn-dark"><i class="fa-brands fa-gratipay"></i> Add to favorites {% endif %}

                <!-- <div class="card text-justify p-2 m-2 rounded shadow m-3">
                    <p>Share this contact on social media</p>
                    <button class="btn btn-outline-success m-1 nav-link text-light">
                        {% post_to_whatsapp object_or_url " Whatsapp" %}
                    </button>
                    <button class="btn btn-outline-info m-1 nav-link text-light">
                        {% post_to_facebook object_or_url "Share To Facebook" %}
                    </button>
                </div> -->
                        <a href="" class="btn btn-outline-dark ml-2"><i class="fa-solid fa-share-from-square"></i> Share</a>
                    </div>
                    <div class="p-2 m-2 row">
                        <div class="col-md-4"><h5>Rated:</h5></div>
                        <div class="col-md-4" style="margin-left: -25px;"> {{average_ratings.rate__avg|floatformat}}/5  <i class="fa-solid fa-star text-warning"></i></div>
                        <div class="col-md-2"></div>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row m-3 p-3 comments">
            </div>
          
            <div class="accordion mb-5 m-2 p-1" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <div class=" panel panel-default" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <div class="row">
                        <div class="col-md-10 ml-5">
                            <h5  data-toggle="tooltip" data-placement="bottom" title="click to open & close comments."><i class="fa fa-comments"  aria-hidden="true"></i> COMMENTS</h5>
      
                        </div>
                          <div class="col-md-2 col col-sm-1">
                              
                          </div>
                      </div>
                       
                  </div>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body row">
                        <div class=" bg-white col-md-10 shadow-lg rounded jumbotron p-2 container-fluid feedback ">
                            <h5 class="text-center m-3 p-2"> Feedback about <a class="text-teal" style="color: teal; text-decoration: none;" href="">{{episode.title}}</a></h5>
                            <a href=" {% url 'rate' episode.id%}" class="btn btn-info p-2 m-2 text-center" data-toggle="tooltip" data-placement="top" title="leave your comments & rating.">
                                Leave feedback
                            </a>
                <div class="p-2 m-2">
                                <p>Rated: {{average_ratings.rate__avg|floatformat}}/5</p>
                                <p>{{total_ratings}} Reviews</p>
                            </div>
                            {% for rating in episode.rating.all reversed%}
                            <div class="row ml-2">
                                <div class="container m-2 ml-3 p-2   col-md-8 mr-2 rounded bg-light shadow text-dark">
                                    <p>
                                        <span>
                                     <img class="rounded-circle profile-pic " style="width: 30px;height:30px;" src="{{ rating.user.profile.image.url}} " alt=" ">
                                 </span>
                                        <span class=font-weight-bold>
                                 {{rating.user}} </span>
                                        <span class="ml-5"><i class="fa fa-comments" aria-hidden="true"></i>
                                        </span>
                                    <span class="ml-3 ml-5">
                                        </span> {% if request.user == rating.user%}
                        <a href="{% url 'comment-delete' rating.id%}"><i class="fa-solid fa-trash-can text-danger">Del</i></a>
                        <a href="{% url 'comment-update' rating.id%}"><i class="fa-solid fa-edit text-info ml-3 ">Upd</i></a>


                        {% endif%}
                                    </span>
                                        <div class=" container text-justify ">
                                            {{rating.comment|title}} <br>Rated : {{rating.rate}}/5  <i class="fa-solid fa-star text-warning"></i>
                                        </div>
                                    </p>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                            {% empty%}
                            <div class="text-center m-2 p-2">
                                <p>No ratings for this Episode Yet !!!.</p>
                    
                            </div>
                            {% endfor%}
                        </div>
                        <div class="col-md-3"></div>
                       
                    </div>
                  </div>
                </div>
                
              </div>
            <!-- Button trigger modal -->



            
           
        </div>
    </div>
    </div>
   {% endblock content%}
</body>

</html>