{% extends 'podcast/base.html'%}
<!DOCTYPE html>

<html>{% load static%} 
{% block content%}

<body>
    <div class="row">
        <div class="col-md-2">
            <main>
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                    <div class="position-sticky pt-3">
                      <nav>
                        <div class="d-flex flex-column flex-shrink-1 text-black  p-2 position-sticky collapse" id="sidebar" style="width: 280px;">
                            <a href="/" class="d-flex align-items-center  mb-md-0 me-md-auto text-dark text-decoration-none">
              
                                <h4 class="fs-4 mt-3 m-2 p-2 text-center text-info">PODCAST</h4>
                            </a>
                          
                            <ul class="nav nav-pills flex-column mb-auto text-dark p-3 m-1">
                                <li class="nav-item">
                                    <a href="{%url 'home' %}" class="nav-link  text-black" aria-current="page">
                                        <i class="fa-solid fa-house"></i> Home
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'episodes' %}" class="nav-link text-black"><i class="fa-solid fa-headphones-simple"></i> Explore
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin" class="nav-link text-black"><i class="fa-solid fa-fire-flame-curved"></i> Popular</a>
                                </li>
                                <li>
                                    <a href="{% url 'favorites' %}" class="nav-link text-black"><i class="fa-brands fa-gratipay"></i> Favorites</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link text-black"><i class="fa-solid fa-id-card-clip"></i> profile
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    </main>
        </div>
        <div class="col-md-9 mt-3 m-2">
            <div class="row mt-2 m-3">
            <div class="col-md-5">
                <h4 class="text-center">THE ALL TALK SHOW.</h4>
            </div>
           
        </div>
        <div class="row bg-light mt-4">
            <div class="col-md-9 mt-2">
                <div class="episodes shadow rounded rounded bg- p-2">
                    <h5 class="m-3 p-2 text-info">Recent Episodes</h5>
                    {% for recent_episode in recent_episodes %}

                    <div class="row">
                        <div class="col-md-3">
                            <img class="rounded" src="{{recent_episode.thumbnail.url}}"  alt="img">
                        </div>
                        <div class="col-md-7 ">
                            <a class="nav-link " href="{%url 'detail' recent_episode.id %}">
                                <h6>{{recent_episode.title}}</h6>
                            </a>
                            <p class="ml-3">{{recent_episode.desc_snippet}}...</p>
                            <p class="ml-4"><small>Posted: {{recent_episode.posted|timesince}} ago</small></p>
                        </div>

                    </div>
                    <hr>
                    {% endfor %}

                  
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <!-- simple announcements and notifications -->
                    </div>
                    <div class="col-md-5">
                        <!-- media player -->
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-2 p-2 rounded-top">
                <h4 class=" text-info p-3">Categories</h4>
                <div class="row text-center categories d-flex justify-content-between">
                    {% for category in categories%}
                    <div class="col-md-6">
                        <p>{{category.name}}</p>
                        <img class="rounded" src="{{category.thumbnail.url}}" style="height:90px; width: 100px;" alt="img">
                    </div>
                   {%endfor%}
                </div>
            </div>
        </div>
    
        
    </div>
</body>
{% endblock content%}
</html>