{% extends 'podcast/base.html'%}
<!DOCTYPE html>

<html>{% load static%} 
{% block content%}

<body>
    <div class="row">
      
            <div class="col-md-2">
                {% include 'podcast/sidebar.html' %}
                       </div>
        
        <div class="col-md-9 mt-3 m-2">
            <div class="row mt-2 m-3">
            <div class="col-md-5">
                <h4 class="text-center">THE ALL TALK SHOW.</h4>
            </div>
           
        </div>
        <div class="row bg-light mt-4">
            <div class="col-md-9 mt-2">
                <div class="episodes shadow rounded rounded bg- p-2">
                    <h5 class="m-3 p-2 text-info">Recent Episodes</h5>
                    {% for recent_episode in recent_episodes %}

                    <div class="row">
                        <div class="col-md-3">
                            <img class="rounded" src="{{recent_episode.thumbnail.url}}"  alt="img">
                        </div>
                        <div class="col-md-7 ">
                            <a class="nav-link " href="{%url 'detail' recent_episode.id %}">
                                <h6>{{recent_episode.title}}</h6>
                            </a>
                            <p class="ml-3">{{recent_episode.desc_snippet}}...</p>
                            <p class="ml-4"><small>Posted: {{recent_episode.posted|timesince}} ago</small></p>
                            <p><span class="badge badge-pill badge-success  p-2">{{recent_episode.category.name}} </span></p>

                        </div>

                    </div>
                    <hr>
                    {% endfor %}

                  
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <!-- simple announcements and notifications -->
                    </div>
                    <div class="col-md-5">
                        <!-- media player -->
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-2 p-2 rounded-top">
                <h4 class=" text-info p-3">Categories</h4>
                <div class="row text-center categories d-flex justify-content-between">
                    {% for category in categories%}
                    <div class="col-md-6">
                       <a href="{% url 'home' %}?q={{category.name}}"><p>{{category.name}}</p></a> 
                        <img class="rounded" src="{{category.thumbnail.url}}" style="height:90px; width: 100px;" alt="img">
                    </div>
                   {%endfor%}
                </div>
            </div>
        </div>
    
        
    </div>
</body>
{% endblock content%}
</html>