{% extends 'podcast/base.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<body>
    {% block content %}
    <div class="row">
        <div class="col-md-2">
            {% include 'podcast/sidebar.html' %}
                   </div>
  <div class="col-md-8 mt-4 p-3 m-3">
      <h4 class="fw-bold text-center">FEEDBACK</h4>
      <div class="jumbotron-fluid jumbotron rounded shadow">
       
            <a class="btn btn-dark m-2 ml-5" href="{% url 'detail' episode.id %}">Back</a>
       
        <div class="row">
           
            <div class="col-md-6 container">
                <img class="rounded" src="{{episode.thumbnail.url}}" style="height:320px" width="100%" alt="">
            </div>
            <div class="col-md-5 container-fluid">
                <h4>{{ episode.title }}</h4>
                <div class="card text-center p-2 bg-light rounded shadow m-3">
               
                <div class="text-justify p-2 m-2 rounded m-3">
                    <form method="POST">
                        {% csrf_token%}
                        <div class="input-field ">
                            {{form.comment|as_crispy_field}}
                        </div>
                        <div class="input-field">
                            {{form.rate|as_crispy_field}}
                        </div>
                        <button type="submit" class="btn text-center btn-info m-3">save</button>
                    </form>
                </div>
      </div>
  </div>

     
    </div>
    </div>
   {% endblock content%}
</body>

</html>