{% extends 'podcast/base.html' %} {% load crispy_forms_tags %}
<html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>

<body>
    {% block content %}
    <div class="text-center container card m-2 p-2">
        <h3>Reset Password</h3>
        <form action="" method="POST">
            {% csrf_token %} {{ form.as_p }}
            <div>
                <button class="btn btn-outline-success" type="submit"> Reset password</button>
            </div>
        </form>
    </div>
    {% endblock content %}
</body>

</html>