{% extends 'podcast/base.html' %}
<html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>

<body>
    {% block content %}
    <div class="container container text-center">
        <div class="card alert alert-success p-3 ">

            <h4>Password Reset complete!!..</h4>
            <p>You have successfully reset your password..<br/> You can now proceed to login</p>
            <div>
                <a href="/login" class="btn btn-primary">Login</a>
            </div>
        </div>

    </div>
    {% endblock content %}
</body>

</html>