{% extends 'podcast/base.html' %} {% load crispy_forms_tags %}
<html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Enter new password</title>
</head>

<body>
    {% block content %}
    <div class="container container text-center">
        <div class="card p-3 ">
            <h3>Enter New Password </h3>
            <form action="" method="POST">
                {% csrf_token %} {{ form|crispy }}
                <div>
                    <button class="btn btn-outline-success" type="submit">Reset my password</button>
                </div>
            </form>

        </div>

    </div>
    {% endblock content %}
</body>

</html>