{% extends 'podcast/base.html' %} {% load static %} {% load crispy_forms_tags%}
<html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>

<body>
    {% block content %}
    <div class="row">
        <div class="col-md-2">
            {% include 'podcast/sidebar.html' %}

        </div>
        <div class="col-md-8 mt-4">
            <div class="container card jumbotron text-center">
                <div>
                    <img class="rounded-circle profile-pic" src="{{user.profile.image.url}}" style="height: 150px; width: 150px;" alt="">
                </div>
                <h3>{{user.username}}</h3>
                <p>{{user.email}}</p>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %} {{ u_form|crispy }} {{ p_form|crispy }}

                    <div>
                        <button class="btn btn-outline-success m-3" type="submit">update</button>
                    </div>
                </form>

            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    {% endblock content %}
</body>

</html>